<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Prueba PWA/Push Notification Angular
  </h1>
  <img width="3px" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<table>
  <div style="display:flex">
      <div>
        <form (ngSubmit) = "guardarUsuario()">
          <label for="titulo">Titulo:</label>
          <input id="titulo" name="titulo" [(ngModel)]="notificacion.titulo" required>
          <label for="texto_notificacion">Texto de Notificación:</label>
          <input id="texto_notificacion" name="texto_notificacion" [(ngModel)]="notificacion.texto" required>
          <button type="submit" class="btn-submit" (click)="guardarUsuario()">Enviar</button>
        </form>
      </div>
  </div>
  <tr>
    <th style="width:15%;">Titulo</th>
    <th style="width:60%;">Cuerpo</th>
    <th style="width:25%;text-align: center;">Acción</th>
  </tr>

  @for (notificacion of notificaciones.data;track notificacion.id) {

  <tr >
    <td>{{ notificacion.title }}</td>
    <td>{{ notificacion.body }}</td>
    <td style="text-align: center;"><button type="button" (click)="EventEmitir(notificacion._id)">Emitir Push</button> </td>
  </tr>

}

</table>
